@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;1,300&family=Lato:ital,wght@1,100&display=swap');

* {
    margin-right: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Lato, italic;
    font-weight: 300;
    color: #00008B;
}

/* headings and log */
h1,
h2 {
    font-family: :ital, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    corlor: red
}

# logo {
    float: left;
    font size: 100%
}

/* navigations links */
# menu {
    font-size: 80%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75;
}

# menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #333033;
}

.active {
    border-bottom: 1px solid #333033;
}